<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.class.module_parent_name %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#000000"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Preahvihear&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="<%%= vite_asset_path('assets/images/kotaro.ico') %>">

  <%%= csrf_meta_tags %>
  <%%= csp_meta_tag %>

  <%%= vite_client_tag %>
  <%%= vite_javascript_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="h-full" data-turbo="true">
<div id="root" data-controller="web" class="flex flex-col h-screen" >
  <div id="BASE_URL" class="hidden" data-base-url="<%%= ENV['BASE_URL'] %>"></div>
  <main>
    <div class="mx-auto max-w-full px-2 sm:px-2 lg:px-8">
      <div id="root">
        <%%= yield %>
      </div>
    </div>
  </main>
  <footer class="mt-auto mb-10">
    <div class="mx-auto max-w-7xl overflow-hidden px-6 py-5 lg:px-8">
      <p class="mt-10 text-center text-xs leading-5 text-gray-500">&copy; <%%= Date.today.year %> Kotaroisme. All rights
        reserved.</p>
    </div>
      <p class="text-center text-xs leading-5 text-gray-500">version <%%= <%= Rails.application.class.module_parent_name %>::VERSION %></p>
  </footer>
</div>
</body>
</html>
