<div>
  <div class="flow-root class-card-container">
    <div class="flex items-center p-2 mb-10">
      <div class="flex-auto">
        <h1 class="font-semibold text-gray-900">Creating <%= @subject_class %></h1>
      </div>
    </div>
    <%%= render "form", <%= @variable_subject %>: @<%= @variable_subject %> %>
  </div>
</div>